p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.welcome {
  width: 100%;
  gap: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 60vh;
  background-color: var(--bg-primary);
  position: relative;
  z-index: 1;
}

.welcome h1 {
  color: white;
  font-size: 3rem;
  text-align: center;
  z-index: 1;
  font-weight: 300;
  line-height: 1.21;
}
